Repository InsertKoinIO/koin, pull requests merged in 2018-08, with the labels that each got.

#178 Fixed testcompile in readme to capital letter
  README.md
Labels: type:documentation

#210 Feature/create with params
  koin-projects/koin-android-viewmodel/src/main/java/org/koin/android/viewmodel/experimental/builder/ModuleDefinitionExt.kt
  koin-projects/koin-android-viewmodel/src/test/java/org/koin/test/android/ViewModelDSLWithParamsTest.kt
  koin-projects/koin-core/src/main/kotlin/org/koin/experimental/builder/ModuleDefinitionExt.kt
  koin-projects/koin-test/src/test/kotlin/org/koin/test/builder/AutoBuilderWithParamsTest.kt
Labels: koin-core, status:accepted, type:enhancement, type:feature-proposal

#207 Replace mockito-core with mockito-inline and remove MockMaker files.
  koin-projects/examples/android-mvp/build.gradle
  koin-projects/examples/android-mvp/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  koin-projects/examples/android-mvvm-coroutines/build.gradle
  koin-projects/examples/android-mvvm-coroutines/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  koin-projects/examples/android-mvvm/build.gradle
  koin-projects/examples/android-mvvm/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  koin-projects/examples/coffee-maker/build.gradle
  koin-projects/examples/hello-spark/build.gradle
  koin-projects/examples/hello-spark/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  koin-projects/gradle/versions.gradle
  koin-projects/koin-android-scope/build.gradle
  koin-projects/koin-android-scope/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  koin-projects/koin-android-viewmodel/build.gradle
  koin-projects/koin-android-viewmodel/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  koin-projects/koin-android/build.gradle
  koin-projects/koin-android/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  koin-projects/koin-androidx-scope/build.gradle
  koin-projects/koin-androidx-scope/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  koin-projects/koin-androidx-viewmodel/build.gradle
  koin-projects/koin-androidx-viewmodel/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  koin-projects/koin-test/build.gradle
  koin-projects/koin-test/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: koin-test, status:accepted, type:enhancement
