Repository InsertKoinIO/koin, pull requests merged in 2018-10, with the labels that each got.

#267 Added warning about ProGuard
  koin-projects/koin-core/src/docs/asciidoc/dsl.adoc
Labels: koin-core-ext, status:accepted, type:enhancement

#268 fix bug ]user appcompat-v7 in version 26
  README.md
  koin-projects/koin-android-viewmodel/src/main/java/org/koin/android/viewmodel/ext/android/LifecycleOwnerExt.kt
  koin-projects/koin-test/src/docs/asciidoc/starting-with-koin-test.adoc
Labels: koin-android, status:accepted, type:bug

#252 Including scopeId param in experimental builders
  koin-projects/koin-core-ext/src/main/kotlin/org/koin/experimental/builder/ModuleDefinitionExt.kt
  koin-projects/koin-core-ext/src/test/kotlin/org/koin/experimental/builder/ScopeAutoBuilderDSLTest.kt
  koin-projects/koin-core/src/main/kotlin/org/koin/dsl/context/ModuleDefinition.kt
Labels: koin-core-ext, status:analyzing, type:enhancement

#242 Allow to use nullable parameters
  koin-projects/koin-core/src/main/kotlin/org/koin/core/parameter/ParameterList.kt
Labels: koin-core, type:enhancement, type:feature-proposal
