Repository InsertKoinIO/koin, pull requests merged in 2019-08, with the labels that each got.

#535 Add 'Testing a Koin application with KotlinTest' article
  README.md
Labels: external-contribution

#545 Resolves fucntion typo on migration guide.
  README.md
  koin-projects/koin-website/quick-references/testing-your-components.md
Labels: external-contribution, status:accepted, website

#543 Fixes #275 Add AutoCloseKoinTestRule.
  koin-projects/koin-core-ext/src/test/kotlin/org/koin/experimental/builder/MVPArchitectureTest.kt
  koin-projects/koin-test/src/main/kotlin/org/koin/test/KoinTestRule.kt
Labels: external-contribution, koin-test, status:accepted

#548 Call startKoin with appDeclaration in ktor feature
  koin-projects/koin-ktor/src/main/kotlin/org/koin/ktor/ext/KoinFeature.kt
Labels: external-contribution, koin-ktor, status:analyzing

#551 Make 'by inject()' function very lazy,
  koin-projects/koin-core/src/main/kotlin/org/koin/core/KoinComponent.kt
  koin-projects/koin-core/src/test/kotlin/org/koin/koincomponent/KoinComponentTest.kt
Labels: external-contribution, koin-core, status:analyzing
