Repository InsertKoinIO/koin, pull requests merged in 2020-09, with the labels that each got.

#844 Feature/Jetpack compose support
  koin-projects/examples/androidx-compose/build.gradle
  koin-projects/examples/androidx-compose/src/main/AndroidManifest.xml
  koin-projects/examples/androidx-compose/src/main/java/org/koin/sample/androidx/compose/AppApplication.kt
  koin-projects/examples/androidx-compose/src/main/java/org/koin/sample/androidx/compose/data/User.kt
  koin-projects/examples/androidx-compose/src/main/java/org/koin/sample/androidx/compose/data/UserRepository.kt
  koin-projects/examples/androidx-compose/src/main/java/org/koin/sample/androidx/compose/di/appModule.kt
  koin-projects/examples/androidx-compose/src/main/java/org/koin/sample/androidx/compose/ui/MainActivity.kt
  koin-projects/examples/androidx-compose/src/main/res/values/colors.xml
  koin-projects/examples/androidx-compose/src/main/res/values/styles.xml
  koin-projects/gradle/versions-android.gradle
  koin-projects/gradle/wrapper/gradle-wrapper.properties
  koin-projects/koin-androidx-compose/.gitignore
  koin-projects/koin-androidx-compose/build.gradle
  koin-projects/koin-androidx-compose/src/androidTest/java/org/koin/androidx/compose/InjectOnComposableTest.kt
  koin-projects/koin-androidx-compose/src/main/AndroidManifest.xml
  koin-projects/koin-androidx-compose/src/main/java/org/koin/androidx/compose/ExperimentalComposeInject.kt
  koin-projects/koin-androidx-compose/src/main/java/org/koin/androidx/compose/KoinCompose.kt
  koin-projects/settings.gradle
Labels: koin-android, team:open-contribution

#719 Workmanager support
  koin-projects/docs/reference/koin-android/workmanager.md
  koin-projects/examples/androidx-samples/build.gradle
  koin-projects/examples/androidx-samples/src/main/AndroidManifest.xml
  koin-projects/examples/androidx-samples/src/main/java/org/koin/sample/androidx/MainApplication.kt
  koin-projects/examples/androidx-samples/src/main/java/org/koin/sample/androidx/di/AppModule.kt
  koin-projects/examples/androidx-samples/src/main/java/org/koin/sample/androidx/main/MainActivity.kt
  koin-projects/examples/androidx-samples/src/main/java/org/koin/sample/androidx/workmanager/SimpleWorker.kt
  koin-projects/examples/androidx-samples/src/main/java/org/koin/sample/androidx/workmanager/SimpleWorkerService.kt
  koin-projects/examples/androidx-samples/src/main/java/org/koin/sample/androidx/workmanager/WorkManagerActivity.kt
  koin-projects/examples/androidx-samples/src/main/res/layout/workmanager_activity.xml
  koin-projects/gradle/versions-examples.gradle
  koin-projects/koin-androidx-fragment/src/main/java/org/koin/androidx/fragment/android/KoinFragmentFactory.kt
  koin-projects/koin-androidx-workmanager/build.gradle
  koin-projects/koin-androidx-workmanager/src/androidTest/AndroidManifest.xml
  koin-projects/koin-androidx-workmanager/src/androidTest/java/org/koin/androidx/workmanager/KoinApplicationExtTest.kt
  koin-projects/koin-androidx-workmanager/src/androidTest/java/org/koin/androidx/workmanager/initialize/Classes.kt
  koin-projects/koin-androidx-workmanager/src/main/AndroidManifest.xml
  koin-projects/koin-androidx-workmanager/src/main/java/org/koin/androidx/workmanager/KoinWorkerFactory.kt
  koin-projects/koin-androidx-workmanager/src/main/java/org/koin/androidx/workmanager/dsl/ModuleExt.kt
  koin-projects/koin-androidx-workmanager/src/main/java/org/koin/androidx/workmanager/koin/KoinApplicationExt.kt
  koin-projects/koin-androidx-workmanager/src/test/java/org/koin/androidx/workmanager/Classes.kt
  koin-projects/koin-androidx-workmanager/src/test/java/org/koin/androidx/workmanager/KoinWorkerFactoryTest.kt
  koin-projects/koin-androidx-workmanager/src/test/java/org/koin/androidx/workmanager/ScopeDSLExtKtTest.kt
  koin-projects/koin-core/src/main/kotlin/org/koin/core/registry/InstanceRegistry.kt
  koin-projects/koin-core/src/main/kotlin/org/koin/core/scope/Scope.kt
  koin-projects/settings-release.gradle
  koin-projects/settings.gradle
Labels: koin-android, status:check, team:open-contribution

#911 Jetpack compose
  koin-projects/docs/reference/koin-android/compose.md
  koin-projects/docs/reference/koin-android/get-instances.md
  koin-projects/docs/reference/koin-android/index.adoc
  koin-projects/docs/reference/setup/index.md
  koin-projects/docs/reference/setup/koin_mp.md
  koin-projects/docs/reference/sidebar.md
  koin-projects/docs/start/setup/index.md
  koin-projects/docs/start/setup/koin_mp.md
  koin-projects/examples/androidx-compose/build.gradle
  koin-projects/examples/androidx-compose/gradle.properties
  koin-projects/examples/androidx-compose/src/main/AndroidManifest.xml
  koin-projects/examples/androidx-compose/src/main/java/org/koin/sample/androidx/compose/AppApplication.kt
  koin-projects/examples/androidx-compose/src/main/java/org/koin/sample/androidx/compose/data/User.kt
  koin-projects/examples/androidx-compose/src/main/java/org/koin/sample/androidx/compose/data/UserRepository.kt
  koin-projects/examples/androidx-compose/src/main/java/org/koin/sample/androidx/compose/di/appModule.kt
  koin-projects/examples/androidx-compose/src/main/java/org/koin/sample/androidx/compose/ui/MainActivity.kt
  koin-projects/examples/androidx-compose/src/main/java/org/koin/sample/androidx/compose/viewmodel/UserViewModel.kt
  koin-projects/examples/androidx-compose/src/main/res/values/colors.xml
  koin-projects/examples/androidx-compose/src/main/res/values/styles.xml
  koin-projects/gradle/versions-android.gradle
  koin-projects/gradle/wrapper/gradle-wrapper.properties
  koin-projects/koin-androidx-compose/.gitignore
  koin-projects/koin-androidx-compose/build.gradle
  koin-projects/koin-androidx-compose/src/main/AndroidManifest.xml
  koin-projects/koin-androidx-compose/src/main/java/org/koin/androidx/compose/ComposeExt.kt
  koin-projects/koin-androidx-compose/src/main/java/org/koin/androidx/compose/ViewModelComposeExt.kt
  koin-projects/koin-androidx-fragment/build.gradle
  koin-projects/koin-core-ext/src/main/kotlin/org/koin/experimental/property/InjectProperties.kt
  koin-projects/koin-core/src/main/kotlin/org/koin/core/KoinExperimentalAPI.kt
  koin-projects/koin-core/src/main/kotlin/org/koin/dsl/ScopeDSL.kt
  koin-projects/settings-release.gradle
  koin-projects/settings.gradle
Labels: koin-android
