Repository InsertKoinIO/koin, pull requests merged in 2021-03, with the labels that each got.

#1023 Fixes issue #1010
  ktor/koin-ktor/src/main/kotlin/org/koin/ktor/ext/KoinFeature.kt
Labels: ktor

#1031 Update KoinPlatformTools to setup default Lazy
  core/koin-core/src/commonMain/kotlin/org/koin/core/Koin.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/KoinApplication.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/component/KoinComponent.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/context/DefaultContextExt.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/definition/Properties.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/instance/InstanceFactory.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/instance/SingleInstanceFactory.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/registry/PropertyRegistry.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/scope/Scope.kt
  core/koin-core/src/commonMain/kotlin/org/koin/ext/InjectProperty.kt
  core/koin-core/src/commonMain/kotlin/org/koin/ext/KClassExt.kt
  core/koin-core/src/commonMain/kotlin/org/koin/mp/KoinPlatformTools.kt
  core/koin-core/src/commonTest/kotlin/org/koin/core/DynamicModulesTest.kt
  core/koin-core/src/commonTest/kotlin/org/koin/core/InstanceReleaseTest.kt
  core/koin-core/src/commonTest/kotlin/org/koin/core/KoinApplicationIsolationTest.kt
  core/koin-core/src/commonTest/kotlin/org/koin/dsl/KoinAppCreationTest.kt
  core/koin-core/src/commonTest/kotlin/org/koin/test/Asserts.kt
  core/koin-core/src/jsMain/kotlin/org/koin/mp/PlatformToolsJS.kt
  core/koin-core/src/jvmMain/kotlin/org/koin/java/KoinJavaComponent.kt
  core/koin-core/src/jvmMain/kotlin/org/koin/mp/PlatformToolsJVM.kt
  core/koin-core/src/nativeMain/kotlin/org/koin/core/context/GlobalContext.kt
  core/koin-core/src/nativeMain/kotlin/org/koin/mp/PlatformToolsNative.kt
  core/koin-test/src/commonMain/kotlin/org/koin/test/KoinTest.kt
  core/koin-test/src/commonMain/kotlin/org/koin/test/check/CheckModules.kt
  core/koin-test/src/commonMain/kotlin/org/koin/test/check/CheckModulesDSL.kt
  core/koin-test/src/commonMain/kotlin/org/koin/test/mock/Declare.kt
  core/koin-test/src/commonMain/kotlin/org/koin/test/parameter/MockParameter.kt
  core/koin-test/src/commonTest/kotlin/org/koin/test/Components.kt
Labels: core, kmm, team

#1033 update ktor to 1.5.2
  gradle/versions.gradle
Labels: ktor, team

#1034 Resolving Injected parameters from graph - Doc updated
  core/koin-core/src/commonTest/kotlin/org/koin/core/ParametersInjectionTest.kt
  docs/reference/koin-core/injection-parameters.md
Labels: core, documentation, team

#1032 Relax type resolution constraints
  android-compose/koin-androidx-compose/build.gradle
  android/koin-android/src/main/java/org/koin/androidx/fragment/android/KoinFragmentFactory.kt
  android/koin-android/src/main/java/org/koin/androidx/viewmodel/parameter/StateDefinitionParameter.kt
  core/koin-core-ext/src/test/kotlin/org/koin/experimental/builder/ReflectAPITest.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/Koin.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/parameter/DefinitionParameters.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/registry/InstanceRegistry.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/scope/Scope.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/scope/ScopeDefinition.kt
  core/koin-core/src/jvmMain/kotlin/org/koin/core/scope/ScopeJVM.kt
  core/koin-core/src/jvmMain/kotlin/org/koin/java/KoinJavaComponent.kt
  core/koin-test/src/commonMain/kotlin/org/koin/test/check/CheckModules.kt
  core/koin-test/src/commonMain/kotlin/org/koin/test/parameter/MockParameter.kt
Labels: core, team

#1037 Jetpack Compose beta01
  android-compose/clean.sh
  android-compose/gradle/wrapper/gradle-wrapper.properties
  android-compose/gradlew
  android-compose/gradlew.bat
  android-compose/install.sh
  android-compose/koin-androidx-compose/build.gradle
  android-compose/koin-androidx-compose/src/main/java/org/koin/androidx/compose/ViewModelComposeExt.kt
  android-compose/release.sh
  android-compose/test.sh
  examples-compose/build.gradle
  examples-compose/gradle/wrapper/gradle-wrapper.properties
  examples-compose/settings.gradle
  gradle/versions-android.gradle
Labels: android

#1018 Make `KoinWorkerFactory` match `androidx.work.WorkerFactory` API
  android/koin-androidx-workmanager/src/main/java/org/koin/androidx/workmanager/factory/KoinWorkerFactory.kt
Labels: android

#1036 Use qualified name of KClass to get class name in native
  core/koin-core/src/jsMain/kotlin/org/koin/mp/PlatformToolsJS.kt
  core/koin-core/src/nativeMain/kotlin/org/koin/mp/PlatformToolsNative.kt
Labels: kmm

#1038 Fix/990 - getAll with linked scopes
  android/koin-android/src/main/java/org/koin/androidx/viewmodel/ext/android/SharedSavedStateRegistryOwnerExt.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/scope/Scope.kt
  core/koin-core/src/commonTest/kotlin/org/koin/core/ClosedScopeAPI.kt
  docs/reference/koin-android/viewmodel.md
Labels: core

#1039 Kotlin 1.4.31
  gradle/versions.gradle
Labels: core
