Repository InsertKoinIO/koin, pull requests merged in 2022-03, with the labels that each got.

#1296 Improve `includes` docs
  docs/reference/koin-core/dsl.md
Labels: documentation

#1287 Don't cast to AppCompatActivity to support FragmentScenario
  CHANGELOG.md
  android/koin-android/src/main/java/org/koin/androidx/scope/LifecycleViewModelScopeDelegate.kt
Labels: android

#1284 Add `owner` parameter for `sharedStateViewModel`
  android/koin-android/src/main/java/org/koin/androidx/viewmodel/ext/android/SharedSavedStateRegistryOwnerExt.kt
Labels: android, status:checking
