Repository InsertKoinIO/koin, pull requests merged in 2022-08, with the labels that each got.

#1394 Update scope.md
  docs/reference/koin-android/scope.md
Labels: documentation

#1409 Enhance Android Instrumentation tests doc
  docs/reference/koin-android/instrumented-testing.md
Labels: android, documentation, type:improvement

#1382 Add createEagerInstances on context-isolation
  docs/reference/koin-core/context-isolation.md
Labels: core, type:issue, status:accepted
