Repository InsertKoinIO/koin, pull requests merged in 2022-01, with the labels that each got.

#1264 Update the comment for `declare`
  core/koin-core/src/commonMain/kotlin/org/koin/core/Koin.kt
Labels: documentation

#1254 Fix typos in junit-test.md
  docs/quickstart/junit-test.md
Labels: documentation

#1225 Expand resolve api
  android/koin-android/src/main/java/org/koin/androidx/viewmodel/dsl/ModuleViewModelOfExt.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/module/ModuleFactoryOfExt.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/module/ModuleSingleOfExt.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/scope/ScopeExt.kt
  core/koin-core/src/commonMain/kotlin/org/koin/dsl/ScopeDSLScopedOfExt.kt
Labels: core, status:accepted, type:feature-proposal

#1253 Replace LifecycleObserver with DefaultLifecycleObserver
  android/koin-android/src/main/java/org/koin/androidx/scope/LifecycleScopeDelegate.kt
  android/koin-android/src/main/java/org/koin/androidx/scope/LifecycleViewModelScopeDelegate.kt
Labels: android, status:accepted

#1261 Kpg/kotlin native memory model
  .github/workflows/github-actions-ci-cd-mac.yml
  core/build.gradle
  core/gradle.properties
  core/gradle/wrapper/gradle-wrapper.properties
  core/koin-core/build.gradle
  core/koin-core/src/commonMain/kotlin/org/koin/core/instance/InstanceFactory.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/scope/Scope.kt
  core/koin-core/src/commonMain/kotlin/org/koin/mp/KoinPlatformTools.kt
  core/koin-core/src/commonTest/kotlin/org/koin/koincomponent/CustomKoinComponentTest.kt
  core/koin-core/src/jsMain/kotlin/org/koin/mp/PlatformToolsJS.kt
  core/koin-core/src/jvmMain/kotlin/org/koin/mp/PlatformToolsJVM.kt
  core/koin-core/src/nativeMain/kotlin/org/koin/core/context/GlobalContext.kt
  core/koin-core/src/nativeMain/kotlin/org/koin/mp/PlatformToolsNative.kt
  core/koin-core/src/nativeTest/kotlin/org/koin/core/Helpers.kt
  core/koin-core/src/nativeTest/kotlin/org/koin/core/state/PlatformThreadingTest.kt
  core/koin-test-junit4/build.gradle
  core/koin-test-junit5/build.gradle
  core/koin-test/build.gradle
  core/settings.gradle
  gradle/versions.gradle
  ktor/koin-ktor/src/test/kotlin/org/koin/ktor/ext/KoinFeatureTest.kt
Labels: core, status:checking, kmm
