Repository InsertKoinIO/koin, pull requests merged in 2023-09, with the labels that each got.

#1641 Fix number of type parameters for scopedOf dsl
  core/koin-core/src/commonMain/kotlin/org/koin/core/module/dsl/ScopedOf.kt
Labels: type:issue, status:accepted

#1644 Dont ignore getviewmodel key
  android/koin-android/src/main/java/org/koin/androidx/viewmodel/GetViewModel.kt
Labels: android

#1640 perf The module flattening function can reduce GC using MutableSet
  core/koin-core/src/commonMain/kotlin/org/koin/core/module/Module.kt
Labels: type:improvement, status:wait_feedback

#1632 Allow includes to take Collection
  core/koin-core/src/commonMain/kotlin/org/koin/core/module/Module.kt
Labels: core, type:improvement

#1657 Fix Ktor Koin plugin with the right start process
  core/koin-core/src/commonMain/kotlin/org/koin/core/Koin.kt
  core/koin-core/src/commonMain/kotlin/org/koin/core/KoinApplication.kt
  core/koin-core/src/commonTest/kotlin/org/koin/core/ParametersInjectionTest.kt
  ktor/examples/hello-ktor/src/main/kotlin/org/koin/sample/Application.kt
  ktor/examples/hello-ktor/src/main/kotlin/org/koin/sample/Components.kt
  ktor/examples/hello-ktor/src/test/kotlin/org/koin/sample/ApplicationJobRoutesTest.kt
  ktor/koin-ktor/build.gradle
  ktor/koin-ktor/src/main/kotlin/org/koin/ktor/ext/ApplicationCallExt.kt
  ktor/koin-ktor/src/main/kotlin/org/koin/ktor/ext/ApplicationExt.kt
  ktor/koin-ktor/src/main/kotlin/org/koin/ktor/ext/RouteExt.kt
  ktor/koin-ktor/src/main/kotlin/org/koin/ktor/ext/RoutingExt.kt
  ktor/koin-ktor/src/main/kotlin/org/koin/ktor/plugin/KoinPlugin.kt
  ktor/koin-ktor/src/main/kotlin/org/koin/ktor/plugin/RequestScope.kt
  ktor/koin-ktor/src/test/kotlin/org/koin/ktor/ext/KoinPluginRunTest.kt
Labels: ktor, type:team
