Repository InsertKoinIO/koin, pull requests merged in 2024-04, with the labels that each got.

#1751 Add watchos support
  projects/core/koin-core-coroutines/build.gradle.kts
  projects/core/koin-core/build.gradle.kts
  projects/core/koin-test/build.gradle.kts
Labels: core, multiplatform

#1841 fix(flatten): use `LinkedHashSet` instead of `HashSet`
  projects/core/koin-core/src/commonMain/kotlin/org/koin/core/module/Module.kt
Labels: core, status:checking

#1768 koin-compose: use rememberUpdatedState with ParametersDefinition, optimized KoinApplication, KoinContext, KoinIsolatedContext
  projects/compose/koin-compose/api/koin-compose.api
  projects/compose/koin-compose/src/commonMain/kotlin/org/koin/compose/Inject.kt
  projects/compose/koin-compose/src/commonMain/kotlin/org/koin/compose/KoinApplication.kt
  projects/compose/koin-compose/src/commonMain/kotlin/org/koin/compose/error/UnknownKoinContext.kt
  projects/compose/koin-compose/src/commonMain/kotlin/org/koin/compose/stable/StableHolders.kt
Labels: status:checking, compose
