Repository InsertKoinIO/koin, pull requests merged in 2024-03, with the labels that each got.

#1800 Creating tests to resolveViewModel method
  projects/android/koin-android/src/test/java/org/koin/test/androidx/viewmodel/GetViewModelTest.kt
Labels: android:viewmodel

#1797 Fix for can auto-reload on ktor
  projects/ktor/koin-ktor/src/main/kotlin/org/koin/ktor/plugin/KoinPlugin.kt
  projects/ktor/koin-ktor/src/test/kotlin/org/koin/ktor/ext/KoinPluginRunTest.kt
Labels: ktor, status:accepted

#1830 Fix backward binary compatibility with Koin 3.4
  projects/core/koin-core/src/commonMain/kotlin/org/koin/dsl/KoinApplication.kt
  projects/core/koin-core/src/commonTest/kotlin/org/koin/dsl/KoinAppCreationTest.kt
Labels: core, status:accepted, regression 💥

#1756 Add Lazy<Module> concrete implementation & missing "plus" operator
  examples/androidx-samples/src/main/java/org/koin/sample/sandbox/di/AppModule.kt
  projects/core/koin-core-coroutines/src/commonMain/kotlin/org/koin/core/module/LazyModule.kt
  projects/core/koin-core-coroutines/src/commonMain/kotlin/org/koin/dsl/LazyModuleDSL.kt
  projects/core/koin-core-coroutines/src/jvmTest/kotlin/org/koin/test/LazyModuleTest.kt
Labels: core, status:checking, type:improvement, coroutines

#1801 flatten: use loop and ArrayDeque instead of recursion
  examples/jvm-perfs/benchmark.txt
  examples/jvm-perfs/build.gradle.kts
  examples/jvm-perfs/src/main/kotlin/org/koin/benchmark/BenchmarkClass.kt
  examples/jvm-perfs/src/main/kotlin/org/koin/benchmark/nestedModules.kt
  projects/core/koin-core/src/commonMain/kotlin/org/koin/core/module/Module.kt
Labels: core, status:accepted, type:improvement
