Repository InsertKoinIO/koin, pull requests merged in 2025-01, with the labels that each got.

#2109 [Maintenance] Github actions migrations
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/weekly.yml
Labels: type:tooling

#2111 Fix DeclaredScopedInstance into adapted ScopedInstanceFactory
  projects/core/koin-core/src/commonMain/kotlin/org/koin/core/error/MissingScopeValueException.kt
  projects/core/koin-core/src/commonMain/kotlin/org/koin/core/instance/DeclaredScopedInstance.kt
  projects/core/koin-core/src/commonMain/kotlin/org/koin/core/instance/ScopedInstanceFactory.kt
  projects/core/koin-core/src/commonMain/kotlin/org/koin/core/registry/InstanceRegistry.kt
  projects/core/koin-core/src/commonMain/kotlin/org/koin/core/scope/Scope.kt
  projects/core/koin-core/src/commonTest/kotlin/org/koin/core/DeclareInstanceJVMTest.kt
  projects/core/koin-core/src/commonTest/kotlin/org/koin/core/DeclareInstanceTest.kt
  projects/core/koin-test/src/commonMain/kotlin/org/koin/test/mock/DeclareMock.kt
Labels: core

#2114 KoinMultiplatformApplication - Compose Application Start + Native Context binding
  projects/compose/koin-compose/src/androidMain/kotlin/org/koin/compose/KoinApplication.android.kt
  projects/compose/koin-compose/src/commonMain/kotlin/org/koin/compose/KoinApplication.kt
  projects/compose/koin-compose/src/commonMain/kotlin/org/koin/compose/application/RememberKoinApplication.kt
  projects/compose/koin-compose/src/jsMain/kotlin/org/koin/compose/KoinApplication.js.kt
  projects/compose/koin-compose/src/jvmMain/kotlin/org/koin/compose/KoinApplication.jvm.kt
  projects/compose/koin-compose/src/nativeMain/kotlin/org/koin/compose/KoinApplication.native.kt
  projects/compose/koin-compose/src/wasmJsMain/kotlin/org/koin/compose/KoinApplication.wasmJS.kt
  projects/core/koin-core/src/commonMain/kotlin/org/koin/dsl/KoinConfiguration.kt
Labels: type:feature-proposal, multiplatform, compose

#2112 fix documentation KoinStartup
  docs/reference/koin-android/start.md
Labels: documentation
